Source: ubuntu-sway-welcome
Section: x11
Priority: optional
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/Ubuntu-Sway/ubuntu-sway-welcome
Rules-Requires-Root: no

Package: ubuntu-sway-welcome
Architecture: any
Depends: ${misc:Depends},
         python3-pyside2.qtwidgets,
         python3-pyside2.qtgui,
         python3-pyside2.qtcore,
         python3-i3ipc
Recommends: fish,
            gparted,
            zsh
Description: welcome app for Ubuntu Sway
